@import "@fontsource/fira-sans";
@import "tailwindcss";

html, body, #root {
    height: 100%;
}

:root {
    color-scheme: light dark;
}

@theme {
    --font-fira-sans: 'Fira Sans', sans-serif;

    --color-main: light-dark(var(--color-white), var(--color-zinc-800));
    --color-sidebar: light-dark(var(--color-zinc-200), var(--color-zinc-950));

    --color-sidebar-accent: light-dark(var(--color-indigo-300), var(--color-indigo-500));
    --color-main-accent: light-dark(var(--color-indigo-500), var(--color-indigo-400));

    --color-text: light-dark(var(--color-zinc-900), var(--color-zinc-100));
    --color-border: light-dark(var(--color-zinc-300), var(--color-zinc-700));
}
